$hovercolor: #f16d7f;

.topBanner {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 98px;
}

.topBannercontainer {
  height: 613px;
  display: flex;
  align-items: center;
  background-image: url("../img/topHeaderBack.png");
  background-repeat: no-repeat;
  background-size: 48.5%;
  background-position: right top;
}

.redLine {
  margin-right: 12px;
  background-color: #f16d7f;
  height: 92px;
  width: 12px;
}

.theBrand {
  width: 485px;
  font-size: 40px;
  font-weight: 900;
}

.theBrand span {
  color: #f16d7f;
}

.hotDeals {
  margin-bottom: 100px;
  text-transform: uppercase;
  height: 821px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.hotDeal:nth-child(1) {
  width: 560px;
  height: 542px;
  background-image: url("../img/hotDeal1.jpg");
}

.hotDealMan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 900;
  width: 156px;
  height: 82px;
  padding-left: 19px;
  margin-top: 26px;
  background-color: #ffffff;
}

.hotDealMan span,
.hotDealAccesories span,
.hotDealWoman span,
.hotDealKids span {
  font-size: 30px;
  color: #f16d7f;
}

.hotDealMan span,
.hotDealAccesories span,
.hotDealWoman span,
.hotDealKids span {
  letter-spacing: 1px;
}

.hotDeal:nth-child(2) {
  width: 560px;
  height: 261px;
  background-image: url("../img/hotDeal2.jpg");
}

.hotDealAccesories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 900;
  width: 206px;
  height: 82px;
  padding-left: 19px;
  margin-top: 26px;
  background-color: #ffffff;
}

.hotDeal:nth-child(3) {
  width: 560px;
  height: 261px;
  background-image: url("../img/hotDeal3.jpg");
}

.hotDealWoman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 900;
  width: 143px;
  height: 82px;
  padding-left: 19px;
  margin-top: 26px;
  background-color: #ffffff;
}

.hotDealWoman {
}

.hotDealWoman {
  letter-spacing: 0;
}

.hotDeal:nth-child(4) {
  width: 560px;
  height: 542px;
  background-image: url("../img/hotDeal4.jpg");
}

.hotDealKids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 900;
  width: 161px;
  height: 82px;
  padding-left: 19px;
  margin-top: 26px;
  background-color: #ffffff;
}

.fItems {
  width: 367px;
  height: 65px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.fItems {
  margin: 0 auto 60px;
}

.fItems span {
  line-height: 3.86;
  font-size: 12px;
  color: #9f9f9f;
}

.fItems span {
  letter-spacing: 0;
}

.products {
  height: 767px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 60px;
  align-content: space-between;
}

.product {
  width: 263px;
  height: 364px;
  line-height: 37px;
  position: relative;

  span {
    font-size: 16px;
    color: #f16d7f;
  }

  .productImg {
    height: 280px;
    display: block;
    object-fit: cover;
    object-position: center center;
  }

  .product-hover {
    display: none;
  }

  &:hover .product-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 261px;
    height: 280px;
    background-color: #3a3838;
    opacity: 0.9;
  }

  .productButton {
    width: 263px;
    height: 280px;
  }

  .productImgText {
    width: 263px;
    height: 83px;
    margin-left: 13px;
    font-weight: 700;
  }

  .productText {
    margin-top: 143px;
    padding-left: 13px;
    width: 248px;
    height: 83px;
    background-color: #ffffff;
    font-weight: 700;
  }

  &:hover .productText {
    opacity: 1;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  }

  .productButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    text-align: right;
    outline: none;
    text-decoration: none;
    border: 1px solid #ffffff;
    margin-top: 98px;
    margin-left: 70px;
    width: 123px;
    height: 39px;
    background-color: transparent;
  }
}

.browseAll {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: #ffffff;
  margin: 0 auto 113px;
  font-weight: 700;
}

.browseAll:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.browseAll i {
  margin-left: 10px;
}

.sales {
  display: flex;
  margin-bottom: 97px;
}

.salesOffer {
  width: 767px;
  height: 529px;
  font-weight: 400;
  color: #ffffff;
  background-image: url("../img/sales.jpg");
}

.salesOfferForWomen:nth-child(1) {
  margin-top: 146px;
  margin-left: 39px;
  width: 293px;
  height: 78px;
}

.salesOfferForWomen:nth-child(2) {
  font-size: 32px;
}

.salesOffer:first-child span {
  color: #f16d7f;
}

.salesOffer:first-child span {
  letter-spacing: 1px;
}

.salesText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #222224;
  width: 342px;
  height: 529px;
  color: #fbfbfb;
  padding-left: 31px;
}

.sale:nth-child(1) {
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
}

.sale:nth-child(2) {
  background-image: url("../img/percent.png");
  background-repeat: no-repeat;
}

.sale:nth-child(3) {
  background-image: url("../img/crown.png");
  background-repeat: no-repeat;
}

.saleText:last-child {
  font-weight: 300;
  font-size: 14px;
  margin-top: 17px;
  margin-left: 78px;
}

.saleText:first-child {
  margin-left: 78px;
  width: 225px;
  font-weight: 400;
  font-size: 20px;
}

.sales213,
.sales223,
.sales233 {
  font-weight: 300;
  margin-top: 17px;
  font-size: 14px;
}

