.category{
  width: 243px;
  height: 600px;
}
.allProducts{
  margin-top: 59px;
  position: relative;
  display: flex;
  justify-content: space-between;
  .navCategory{
    display: flex;
    flex-direction: column;
    a{
      text-decoration: none;
      /* Style for "Accessorie" */
      width: 138px;
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 400;
      line-height: 33px;
      padding-left: 22px;
    }
  }
  label{
    /* Style for "Category" */
    width: 243px;
    text-align: left;
    height: 37px;
    color: $hovercolor;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border-left: 5px solid #ef5b70;
    padding-left: 11px;
    padding-top: 12px;
    display: block;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 18px;
    &:nth-child(7){
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
    &:nth-child(5){
      color: #6f6e6e;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
  }
  .categoryLine{
    position: absolute;
    width: 243px;
    height: 1px;
    background-color: #ebebeb;
    margin: -3px 0 18px 6px;
    &:nth-child(1){

    }
  }
}
.allProductsImage{
  /* Style for "Product" */
  width: 848px;
  height: 1164px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productsInfos{
  display: flex;
}
.productsInfo{

  label{
    border: none;
  }
  input{
    width: 13px;
    height: 13px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
  }
  h3{
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &:nth-child(1){
    display: flex;
    flex-direction: column;
    margin-right: 114px;
    div{
      margin-left: -15px;
      a{
        &:hover{
          color: $hovercolor;
        }
        margin: 0 15px 0 15px;
        text-decoration: none;
        outline: none;
        color: #222222;
      }
    }
  }
  &:nth-child(2){
    div{
      display: flex;
    }
    margin-right: 58px;
  }
  &:nth-child(3){
    input{
      width: 60px;
    }
  }
}
.sort{
  /* Style for "Rectangle" */
  width: 851px;
  height: 50px;
  background-color: #f3f3f3;
  margin-bottom: 48px;
  button{
    &:nth-child(1){
      margin-left: 9px;
    }
    &:nth-child(2){
      width: 86px;
      margin-left: -4px;
    }
    &:nth-child(3){
      width: 56px;
      margin-left: 10px;
    }
    &:nth-child(4){
      width: 63px;
      margin-left: -4px;
      i{
        margin-right: -11px;
        margin-left: 15px;
      }
    }
    color: #6f6e6e;
    margin-top: 10px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    /* Style for "Rectangle" */
    width: 67px;
    height: 30px;
  }
}
.ViewAll{
  width: 848px;
  margin: 50px 0 110px 0;
  display: flex;
  justify-content: space-between;
  button{
    /* Style for "Rounded Re" */
    width: 150px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid $hovercolor;
    background-color: #ffffff;
    color: $hovercolor;
  }
}
.blackInfos {
  background-color: #222224;
  height: 251px;
  padding-top: 90px;
  .blackInfoss {
    display: flex;
    justify-content: space-between;
    div{
      background-position: top;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 309px;
      height: 138px;
      p:nth-child(1){
        margin-top: 80px;
        color: #fbfbfb;
        font-size: 20px;
        font-weight: 700;
        /* Text style for "Free Deliv" */
        letter-spacing: 0.5px;
      }
      p:nth-child(2){
        /* Style for "Worldwide" */
        width: 310px;
        height: 37px;
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 300;
        line-height: 23.95px;
        /* Text style for "W, orldwid" */
        letter-spacing: 0.35px;
        text-align: center;
      }
    }
    .blackInfo_car{
      background-image: url("../img/car.png");
      background-repeat: no-repeat;

    }

    .blackInfo_percent{
      background-image: url("../img/percent.png");
      background-repeat: no-repeat;
    }

    .blackInfo_crown {
      background-image: url("../img/crown.png");
      background-repeat: no-repeat;
    }
  }
}
