@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "header";
@import "footer";
@import "index";
@import "single_page";
@import "checkOut";
@import "Basket";
$hovercolor: #f16d7f;
body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

