@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
button:hover {
  cursor: pointer;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.container {
  width: 1140px;
  margin: auto;
  /*background: #08cc0f;*/
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header div {
  display: flex;
  align-items: center;
}
.header a {
  outline: none;
}
.header .search input {
  height: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 14px 16px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
.header .search button:last-child {
  border: none;
  outline: none;
  height: inherit;
  background: none;
  padding: 12px;
  color: #a4a4a4;
}

.logo {
  width: 165px;
  line-height: 51px;
  text-transform: uppercase;
  background: url("../img/logo.png") no-repeat;
  background-blend-mode: overlay;
  font-size: 27px;
  margin-right: 46px;
}
.logo span {
  color: #f16d7f;
  font-weight: 700;
}
.logo a {
  display: block;
  height: 100%;
  text-decoration: none;
  padding-left: 72px;
  outline: none;
}

.search {
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 14px;
}

.search__browse {
  padding: 14px;
  background-color: #f9f9f9;
  line-height: 38px;
  border: none;
  color: #7c7c7c;
  outline: none;
}
.search__browse i {
  color: #838383;
}

.header__cart {
  margin-left: auto;
  margin-right: 26px;
  outline: none;
}

.header__account-bar {
  border: none;
  outline: none;
  width: 130px;
  line-height: 38px;
  background-color: #f16d7f;
  padding-left: 19px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.headerLine {
  border-bottom: 1px solid #ececec;
}

.topNav {
  height: 51px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topNav a {
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
}
.topNav a:hover {
  background-size: 100% 2px;
  padding-bottom: 18px;
  margin-bottom: -17px;
}
.topNav a:not(:last-child) {
  margin-right: 46px;
}

.subscribes {
  background: url(../img/subscribe.jpg) no-repeat center bottom, #ccc;
  background-size: cover;
  height: 438px;
  width: 100%;
}
.subscribes .subscribes_countainer {
  display: flex;
}
.subscribes .subscribesTexts {
  width: 570px;
  height: 438px;
  border-right: 2px solid #ffffff;
  display: flex;
}
.subscribes .subscribeTexts:nth-child(1) {
  margin-top: 111px;
  background-image: url("../img/subscribe.png");
  border-radius: 50px;
  background-repeat: no-repeat;
  width: 83px;
  height: 83px;
}
.subscribes .subscribeTexts:nth-child(2) {
  margin-top: 123px;
  margin-left: 28px;
  height: 159px;
  width: 386px;
}
.subscribes .subscribeText:first-child {
  width: 386px;
  height: 68px;
  margin-bottom: 19px;
  font-size: 16px;
  font-style: italic;
  line-height: 1.63;
  text-align: justify;
  color: #222224;
  font-weight: 400;
}
.subscribes .subscribeText:last-child {
  font-size: 16px;
  color: #f16d7f;
  font-weight: 400;
}
.subscribes .subscribeText:last-child span {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0;
  color: #222224;
  font-weight: 300;
}
.subscribes .subscribeColors {
  display: flex;
  margin-top: 41px;
}
.subscribes .subscribeColor {
  margin-right: 13px;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
}
.subscribes .subscribeColor:nth-child(2) {
  background-color: #f16d7f;
}
.subscribes .subscribeButtons {
  text-align: center;
  width: 570px;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribes .subscribeButtonText {
  margin-left: 146px;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribes .subscribeButtonText {
  letter-spacing: 1px;
}
.subscribes .subscribeButtonText span {
  font-weight: 400;
  font-size: 14px;
}
.subscribes .emails {
  display: flex;
  border-radius: 50px;
  margin-left: 146px;
  overflow: hidden;
  font-size: 14px;
  border: none;
  outline: none;
  width: 400px;
  height: 46px;
}
.subscribes .email:nth-child(1) {
  width: 234px;
  height: 46px;
  border: none;
  outline: none;
  padding-left: 28px;
  background-color: #e1e1e1;
}
.subscribes .email:nth-child(2) {
  color: white;
  border: none;
  outline: none;
  width: 140px;
  height: 46px;
  background-color: #f16d7f;
}
.subscribes .email:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.footer {
  display: flex;
  margin-top: 109px;
  height: 358px;
}

.footerText {
  margin-right: 62px;
  width: 433px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.footerLink {
  width: 650px;
  display: flex;
  justify-content: space-around;
}

.footerLink h4 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.companyNav,
.informationNav,
.shopCategoryNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 179px;
}

.companyNav a,
.informationNav a,
.shopCategoryNav a {
  outline: none;
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
}

nav a:hover {
  color: #f16d7f;
}

.footerLink {
  justify-content: space-around;
}

.copyrights {
  height: 79px;
  background-color: #e6e6e6;
}

.copyright {
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcon {
  display: flex;
  justify-content: space-between;
  width: 190px;
}

.Icon {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
}

.Icon:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
  background-color: #f16d7f;
}

.topBanner {
  height: 613px;
  background-color: #e8e8e8;
  margin-bottom: 98px;
}

.topBannercontainer {
  height: 613px;
  display: flex;
  align-items: center;
  background-image: url("../img/topHeaderBack.png");
  background-repeat: no-repeat;
  background-size: 48.5%;
  background-position: right top;
}

.redLine {
  margin-right: 12px;
  background-color: #f16d7f;
  height: 92px;
  width: 12px;
}

.theBrand {
  width: 485px;
  font-size: 40px;
  font-weight: 900;
}

.theBrand span {
  color: #f16d7f;
}

.hotDeals {
  margin-bottom: 100px;
  text-transform: uppercase;
  height: 821px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.hotDeal:nth-child(1) {
  width: 560px;
  height: 542px;
  background-image: url("../img/hotDeal1.jpg");
}

.hotDealMan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 900;
  width: 156px;
  height: 82px;
  padding-left: 19px;
  margin-top: 26px;
  background-color: #ffffff;
}

.hotDealMan span,
.hotDealAccesories span,
.hotDealWoman span,
.hotDealKids span {
  font-size: 30px;
  color: #f16d7f;
}

.hotDealMan span,
.hotDealAccesories span,
.hotDealWoman span,
.hotDealKids span {
  letter-spacing: 1px;
}

.hotDeal:nth-child(2) {
  width: 560px;
  height: 261px;
  background-image: url("../img/hotDeal2.jpg");
}

.hotDealAccesories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 900;
  width: 206px;
  height: 82px;
  padding-left: 19px;
  margin-top: 26px;
  background-color: #ffffff;
}

.hotDeal:nth-child(3) {
  width: 560px;
  height: 261px;
  background-image: url("../img/hotDeal3.jpg");
}

.hotDealWoman {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 900;
  width: 143px;
  height: 82px;
  padding-left: 19px;
  margin-top: 26px;
  background-color: #ffffff;
}

.hotDealWoman {
  letter-spacing: 0;
}

.hotDeal:nth-child(4) {
  width: 560px;
  height: 542px;
  background-image: url("../img/hotDeal4.jpg");
}

.hotDealKids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 900;
  width: 161px;
  height: 82px;
  padding-left: 19px;
  margin-top: 26px;
  background-color: #ffffff;
}

.fItems {
  width: 367px;
  height: 65px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.fItems {
  margin: 0 auto 60px;
}

.fItems span {
  line-height: 3.86;
  font-size: 12px;
  color: #9f9f9f;
}

.fItems span {
  letter-spacing: 0;
}

.products {
  height: 767px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 60px;
  align-content: space-between;
}

.product {
  width: 263px;
  height: 364px;
  line-height: 37px;
  position: relative;
}
.product span {
  font-size: 16px;
  color: #f16d7f;
}
.product .productImg {
  height: 280px;
  display: block;
  object-fit: cover;
  object-position: center center;
}
.product .product-hover {
  display: none;
}
.product:hover .product-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 261px;
  height: 280px;
  background-color: #3a3838;
  opacity: 0.9;
}
.product .productButton {
  width: 263px;
  height: 280px;
}
.product .productImgText {
  width: 263px;
  height: 83px;
  margin-left: 13px;
  font-weight: 700;
}
.product .productText {
  margin-top: 143px;
  padding-left: 13px;
  width: 248px;
  height: 83px;
  background-color: #ffffff;
  font-weight: 700;
}
.product:hover .productText {
  opacity: 1;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.product .productButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-align: right;
  outline: none;
  text-decoration: none;
  border: 1px solid #ffffff;
  margin-top: 98px;
  margin-left: 70px;
  width: 123px;
  height: 39px;
  background-color: transparent;
}

.browseAll {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  color: #ffffff;
  margin: 0 auto 113px;
  font-weight: 700;
}

.browseAll:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.browseAll i {
  margin-left: 10px;
}

.sales {
  display: flex;
  margin-bottom: 97px;
}

.salesOffer {
  width: 767px;
  height: 529px;
  font-weight: 400;
  color: #ffffff;
  background-image: url("../img/sales.jpg");
}

.salesOfferForWomen:nth-child(1) {
  margin-top: 146px;
  margin-left: 39px;
  width: 293px;
  height: 78px;
}

.salesOfferForWomen:nth-child(2) {
  font-size: 32px;
}

.salesOffer:first-child span {
  color: #f16d7f;
}

.salesOffer:first-child span {
  letter-spacing: 1px;
}

.salesText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #222224;
  width: 342px;
  height: 529px;
  color: #fbfbfb;
  padding-left: 31px;
}

.sale:nth-child(1) {
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
}

.sale:nth-child(2) {
  background-image: url("../img/percent.png");
  background-repeat: no-repeat;
}

.sale:nth-child(3) {
  background-image: url("../img/crown.png");
  background-repeat: no-repeat;
}

.saleText:last-child {
  font-weight: 300;
  font-size: 14px;
  margin-top: 17px;
  margin-left: 78px;
}

.saleText:first-child {
  margin-left: 78px;
  width: 225px;
  font-weight: 400;
  font-size: 20px;
}

.sales213,
.sales223,
.sales233 {
  font-weight: 300;
  margin-top: 17px;
  font-size: 14px;
}

.sliderModel {
  margin-bottom: 73px;
}
.sliderModel .sliderGirl {
  position: relative;
  background-color: #f7f7f7;
}
.sliderModel .sliderGirl .sliderGirl_c {
  position: relative;
  display: flex;
  justify-content: center;
}
.sliderModel .sliderGirl div:nth-child(2), .sliderModel .sliderGirl div:nth-child(3) {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: calc(50% - 47px / 2);
  width: 47px;
  height: 47px;
  color: #fff;
  background: #d8d8d8;
  cursor: pointer;
}
.sliderModel .sliderGirl div:nth-child(2) {
  left: 0;
}
.sliderModel .sliderGirl div:nth-child(3) {
  right: 0;
}
.sliderModel div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sliderModel .products_sp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  text-transform: uppercase;
  align-content: space-between;
}
.sliderModel .products_sp .product_sp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 263px;
  height: 364px;
  line-height: 37px;
  position: relative;
}
.sliderModel .products_sp .product_sp span {
  font-size: 16px;
  color: #f16d7f;
}
.sliderModel .products_sp .product_sp .productImg {
  height: 280px;
  display: block;
  object-fit: cover;
  object-position: center center;
}
.sliderModel .products_sp .product_sp .product-hover {
  display: none;
}
.sliderModel .products_sp .product_sp:hover .product-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 261px;
  height: 280px;
  background-color: #3a3838;
  opacity: 0.9;
}
.sliderModel .products_sp .product_sp .productButton {
  width: 263px;
  height: 280px;
}
.sliderModel .products_sp .product_sp .productImgText {
  width: 263px;
  height: 83px;
  margin-left: 13px;
  font-weight: 700;
}
.sliderModel .products_sp .product_sp .correctCSS {
  margin-left: 26px;
}
.sliderModel .products_sp .product_sp .productText {
  margin-top: 143px;
  padding-left: 13px;
  width: 248px;
  height: 83px;
  background-color: #ffffff;
  font-weight: 700;
}
.sliderModel .products_sp .product_sp:hover .productText {
  opacity: 1;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}
.sliderModel .products_sp .product_sp .productButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-align: right;
  outline: none;
  text-decoration: none;
  border: 1px solid #ffffff;
  margin-top: 98px;
  margin-left: 70px;
  width: 123px;
  height: 39px;
  background-color: transparent;
}

.modelInfoWrap {
  width: 1141px;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 119px;
  margin-top: -77px;
}

.youMayLike {
  /* Style for "you may li" */
  width: 234px;
  height: 18px;
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 72px;
}

.modelInfos {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 620px;
}
.modelInfos form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.modelInfos form .formButton {
  width: 620px;
  display: flex;
  justify-content: center;
}
.modelInfos form button {
  /* Style for "Rectangle" */
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  margin-top: 28px;
}
.modelInfos form button a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f16d7f;
  outline: none;
  text-decoration: none;
}
.modelInfos form button a img {
  margin-right: 15px;
}
.modelInfos form input {
  /* Style for "Rectangle" */
  width: 144px;
  height: 35px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  outline: none;
  padding-left: 5px;
}

.modelInfo:nth-child(1) {
  /* Style for "WOMEN COLL" */
  width: 148px;
  height: 10px;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.modelInfo:nth-child(2) {
  width: 147px;
  height: 1px;
  background-color: #eaeaea;
}
.modelInfo:nth-child(3) {
  /* Style for "Rectangle" */
  width: 63px;
  height: 3px;
  background-color: #ef5b70;
  margin-top: -1px;
  margin-bottom: 17px;
}
.modelInfo:nth-child(4) {
  /* Style for "Moschino C" */
  width: 254px;
  height: 14px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 67px;
}
.modelInfo:nth-child(5) {
  /* Style for "Compelling" */
  width: 618px;
  height: 60px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 28px;
}
.modelInfo:nth-child(6) {
  display: flex;
  justify-content: space-between;
  width: 335px;
  height: 10px;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 37px;
  margin-left: 30px;
}
.modelInfo:nth-child(6) p {
  display: flex;
}
.modelInfo:nth-child(6) span {
  color: #2f2f2f;
}
.modelInfo:nth-child(7) {
  /* Style for "$561" */
  width: 54px;
  height: 24px;
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 43px;
}

.collapse_box {
  padding: 0;
  display: flex;
  max-height: 0;
  box-sizing: border-box;
  transition: all 1s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}

.collapse:checked + label + .collapse_box {
  transition: all 1s ease-in-out;
  max-height: 2000px;
}

.checkout {
  display: flex;
  flex-direction: column;
  margin-top: 89px;
}
.checkout .line {
  margin-top: -20px;
  margin-bottom: 23px;
}
.checkout .line:last-child {
  margin-bottom: 93px;
}
.checkout label {
  width: 211px;
  height: 23px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.checkout .checkoutAdress {
  display: flex;
  margin-top: 39px;
  margin-left: 35px;
  height: 539px;
}
.checkout .checkoutAdress button {
  /* Style for "Rectangle" */
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 32px 32px 0 0;
}
.checkout .checkoutAdress button:hover {
  color: #f16d7f;
  cursor: pointer;
}
.checkout .checkoutAdress .checkoutAdressRegister {
  display: flex;
  flex-direction: column;
  width: 583px;
}
.checkout .checkoutAdress .checkoutAdressRegister .checkoutText:nth-child(1) {
  /* Style for "Check as a" */
  width: 202px;
  height: 11px;
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.checkout .checkoutAdress .checkoutAdressRegister .checkoutText:nth-child(2) {
  /* Style for "Register w" */
  width: 223px;
  height: 12px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 31px;
}
.checkout .checkoutAdress .checkoutAdressRegister .checkoutText:nth-child(5) {
  width: 163px;
  height: 10px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.checkout .checkoutAdress .checkoutAdressRegister .checkoutText:nth-child(6) {
  width: 223px;
  height: 12px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 33px;
}
.checkout .checkoutAdress .checkoutAdressRegister .checkoutTextI {
  width: 261px;
  height: 12px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
}
.checkout .checkoutAdress .checkoutAdressRegister .guest {
  margin-bottom: 16px;
}
.checkout .checkoutAdress .checkoutAdressRegister .guest input {
  margin-right: 14px;
}
.checkout .checkoutAdress .checkoutAdressRegister .register {
  margin-bottom: 36px;
}
.checkout .checkoutAdress .checkoutAdressRegister .register input {
  margin-right: 14px;
}
.checkout .checkoutAdress .checkoutAdressLogin form {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
}
.checkout .checkoutAdress .checkoutAdressLogin form label {
  /* Style for "EMAIL ADDR" */
  width: 400px;
  height: 101px;
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.checkout .checkoutAdress .checkoutAdressLogin form label span {
  color: #ff0d0d;
}
.checkout .checkoutAdress .checkoutAdressLogin form label input {
  margin-top: 16px;
  /* Style for "Rectangle" */
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.checkout .checkoutAdress .checkoutAdressLogin .RequiredFileds {
  /* Style for "* Required" */
  width: 97px;
  height: 12px;
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 400;
}
.checkout .checkoutAdress .checkoutAdressLogin .checkoutText:nth-child(1) {
  /* Style for "Already re" */
  width: 128px;
  height: 11px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.checkout .checkoutAdress .checkoutAdressLogin .checkoutText:nth-child(2) {
  /* Style for "Please log" */
  width: 107px;
  height: 12px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 15px;
}
.checkout .checkoutAdress .checkoutAdressLogin .log_or_forgot a {
  /* Style for "Forgot Pas" */
  width: 111px;
  height: 12px;
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.collapse {
  display: none;
}
.collapse + label:hover {
  cursor: pointer;
}

.line {
  /* Style for "Shape 7" */
  width: 1140px;
  height: 1px;
  background-color: #e8e8e8;
}

.shoppingCarts .carts {
  display: flex;
  flex-direction: column;
}

.cart, .cartPrice {
  display: flex;
}

.shoppingCartsHeader {
  height: 148px;
  background-color: #f8f3f4;
}

.cartHeader a {
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.cart__header {
  height: 148px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartLink {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.cartLink a {
  font-weight: 400;
}

.cartLink a:hover {
  color: #f16d7f;
}

.shoppingCarts {
  height: 1123px;
}

.cart {
  height: 162px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaeaea;
}

.lastCart {
  border-bottom: 1px solid #eaeaea;
}

.cartPrice {
  flex: 1.5;
  justify-content: space-between;
  align-items: center;
}

.cartPrice input {
  outline: none;
}

.cartInfo1 {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cartInfo {
  display: flex;
  align-items: center;
  flex: 1.3;
}

.cartInfo img {
  margin-right: 21px;
  width: 100px;
  height: 115px;
  object-fit: cover;
  object-position: center center;
}

.cartInfo1 span {
  margin-left: 5px;
  color: #575757;
  font-weight: 300;
}

.cartsLinks {
  display: flex;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
}

.cartsLinks h3 {
  flex: 1.3;
}

.cartsLinks_h {
  flex: 1.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartPrice button {
  background: none;
  border: none;
  outline: none;
}
.cartPrice button i:hover {
  color: #f16d7f;
}

.shopping {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}
.shopping button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
}
.shopping button:hover {
  color: #f16d7f;
}

.shoppingInfo {
  text-transform: uppercase;
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
}
.shoppingInfo button:hover {
  color: #f16d7f;
}
.shoppingInfo input {
  padding-left: 5px;
  width: 355px;
  height: 45px;
  border: 1px solid #eaeaea;
}
.shoppingInfo button {
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.shoppingInfo div:nth-child(1) button {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  width: 100px;
  height: 35px;
}
.shoppingInfo div:nth-child(2) {
  height: 213px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.shoppingInfo div:nth-child(2) button {
  width: 118px;
  height: 35px;
}
.shoppingInfo div:nth-child(2) span {
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}
.shoppingInfo div {
  font-size: 16px;
  font-weight: 700;
  width: 360px;
  height: 275px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.shoppingInfo div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 214px;
  background-color: #f5f3f3;
}
.shoppingInfo div:nth-child(3) .check {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 135px;
}
.shoppingInfo div:nth-child(3) .check div {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.shoppingInfo div:nth-child(3) .check div:nth-child(1) {
  margin: 0 0 0 auto;
  width: 108px;
  height: 12px;
}
.shoppingInfo div:nth-child(3) .check div:nth-child(1) p {
  color: #4a4a4a;
  font-weight: 400;
}
.shoppingInfo div:nth-child(3) .check div:nth-child(1) p span {
  margin-left: 15px;
}
.shoppingInfo div:nth-child(3) .check div:nth-child(2) {
  margin: 0 0 0 auto;
  width: 165px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
}
.shoppingInfo div:nth-child(3) .check div:nth-child(2) p span {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #f16d7f;
}
.shoppingInfo div:nth-child(3) .check div:nth-child(3) {
  width: 275px;
  height: 1px;
  background-color: #e7e6e6;
  margin-bottom: 17px;
}
.shoppingInfo div:nth-child(3) .check div:nth-child(4) button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  width: 273px;
  height: 50px;
  background-color: #f16d7f;
}
.shoppingInfo div:nth-child(3) .check div:nth-child(4) button:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
